<!-- <p>Parent component</p>
<button (click)="userLoggedIn=true">Login</button>
<button (click)="userLoggedIn=false">Logout</button>
{{userLoggedIn}}
<app-child (greetEvent)="greet($event)" #child [loggedIn]="userLoggedIn"></app-child>
{{child.myName}}
<button (click)="child.greetMe()">Greet</button>
<button (click)="greetGoodMorning()">GreetGoodMorning</button>
<button (click)="greetWellDone()">GreetWellDone</button> -->
 <!-- <mat-toolbar>
    <span>Custom Toolbar</span>
    <span class="example-spacer"></span>
    <div fxLayout="row" fxLayoutGap="20px">
        
        <a href="#">Home</a>
    
        <a href="#">Login</a>
  
        <a href="#">Signup</a>
    </div>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav mode="side" [(opened)]="opened">Start</mat-sidenav>
    <mat-sidenav-content>Main
        <button (click)="opened=!opened" mat-stroked-button color="primary">Toggle</button>
    </mat-sidenav-content>
</mat-sidenav-container>
<form  [formGroup]="registrationForm">

        
        <p>
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>First Name</mat-label>
              <input matInput  formControlName="firstName" required >
              <div *ngIf="registrationForm.get('firstName')!.invalid && registrationForm.get('firstName')!.touched ">
                <mat-error *ngIf="registrationForm.get('firstName')!.errors?.required">firstName is required</mat-error>
              </div>
            </mat-form-field>
        </p>
      
        <p>
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Last Name</mat-label>
              <input matInput  formControlName="lastName" required >
              <div *ngIf="registrationForm.get('lastName')!.invalid && registrationForm.get('lastName')!.touched ">
                <mat-error *ngIf="registrationForm.get('lastName')!.errors?.required">lastName is required</mat-error>
              </div>
            </mat-form-field>
        </p>

        <p>
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Email</mat-label>
              <input  matInput  formControlName="email" required pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"  >
              <div *ngIf="registrationForm.get('email')!.invalid && registrationForm.get('email')!.touched ">
                <mat-error *ngIf="registrationForm.get('email')!.errors?.required">Email is required</mat-error>
                <mat-error *ngIf="registrationForm.get('email')!.errors?.pattern">Email is not valid</mat-error>
              </div>
            </mat-form-field>
        </p>

       <span>Gender</span>
       <br>
       <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="1">Male</mat-radio-button>
        <mat-radio-button value="2">Female</mat-radio-button>
       </mat-radio-group>
       


  
   
   
</form> -->
<app-header [deviceXs]="deviceXs"></app-header>
  


<router-outlet></router-outlet>
